In [4]:
import pandas as pd 
import numpy as np 
import torch

In [28]:
df_train=pd.read_csv(r'dataset\twitter15\twitter15.train',sep='\t',names=['tweet_id','content','label'])

In [29]:
df_train.head()

,tweet_id,content,label
0,724703995147751424,"american family association gets 500,000 to si...",unverified
1,358591089462099968,this week's top story: george zimmerman wins f...,false
2,775672628493357057,clinton hides failing health? full disclosure ...,unverified
3,364589696573124609,fukushima: highly radioactive water seeping in...,false
4,549927969032916993,a transgender 17-year old left a suicide note ...,unverified

In [30]:
df_train.shape

(1005, 3)

In [31]:
df_train.nunique()

tweet_id    1005
content      980
label          4
dtype: int64